<nav>
    <a href="/">home</a>
    <a href="/dreams/new_book">Create a new dreambook</a>
    <a href="/dreams/search">Find exsiting dreambook</a>
    <a href="">About</a>
    <% if (!isLoggedIn) {%>
        <a href="/login">login</a>        
        <% } else { %>
            <p>Logged in as <%= currentUser.email %></p>
        <form action="/logout?_method=delete" method="post">
            <button>logout</button>
        </form>
        <% } %>
</nav>