<h1>Signup page</h1>


<form action="/register" method="post">
    <label for="">email</label>
    <input type="text" name="email">

    <label for="">password</label>
    <input type="password" name="password">

    <button>Rigister NOW</button>
</form>

