<h1>Signup page</h1>


<form action="/register" method="post">
    <label for="">Email: </label>
    <input type="text" name="email">

    <label for="">Password: </label>
    <input type="password" name="password">



    <button>Rigister NOW</button>
</form>

<% if (locals.isCodeWrong) { %>
    <p style="color: red;">Invalid Registration Code!</p>
    <p>If you want to have a valid registration code, please contact author (purify5121@gmail.com).</p>
<% } %>
