<h1>A new dreambook has been created.</h1>
<p>Book id: <%= bookId %></p>

<h2 class="start-banner">Let's dive into our story now. Shall we?</h2>

<a class="start-banner" href="/dreams/new/stage/1">===> First scene of the story</a>