<h1>You have created a dreambook.</h1>
<h2>Let's build our story now.</h2>

<form action="/dreams/new/stage/1">
    <input type="hidden" name="book_id" value="<%= book_id %>">
    <button>
        First Scene
    </button>
</form>